*{
	margin: 0px;
	padding: 0px;
	list-style: none;
/*	text-align: center;	*/
}
body, html {
	width: 100%;
	height: 100%;
}
body{
	overflow:hidden;
}
header{
	position: fixed;
	top: 0;
	width: 100%;
    z-index: 99;
}
.threeleft,.threeright,.threeNone,.fourNone,.fiveNone,.fiveleft,.fiveright,.Eight .btimg,.Two .btimg,.Three .btimg{
	display: none;
}

.active{
	background:#204D74;
	color: white;
}

a{
	color: #FFFFFF;
}

.sizeColor{
	color: #00DFB9;
}
.listOne .bgcccc{
	background: #00DFB9;
}
.Content{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
/*	z-index: 1;*/
}

/*第一页	*/
.listOne{
	position: absolute;
	left: 50%;
	bottom: 10%;
	margin-left: -143px;
	
}
.listOne li{
	width: 54px;
	height: 3px;
	background: #FFFFFF;
	float: left;
	margin-left: 20px;
	cursor: pointer;
}
.listOne li:nth-of-type(1){
	margin-left: 0px;
}













